* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
}
:root {
    --main-color: #f2a32b;
    --pink-color: #fdc631;
    --white-alfa-40: rgba(255, 255, 255, 0.4);
    --white-alfa-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter: blur(5px);
    --padding: 5vh 15px;
    --box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
body {
    background-color: #f5f5f5;
}
html {
    scroll-behavior: smooth;
}
button,
input {
    border: none;
}
.btn {
    display: inline-block;
    padding: .5rem 3rem;
    margin-top: 1rem;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 100;
    font-size: 1.3rem;
    text-transform: capitalize;
}
.btn:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    background-color: #000;
    left: 0;
    top: 0;
    transition: .5s;
    z-index: -10;
}
.btn:hover::before {
    height: 100%;
}
.empty {
    border-radius: .5rem;
    background-color: var(--white-alfa-25);
    border: 2px solid var(--white-alfa-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    text-align: center;
    line-height: 2;
    color: var(--main-color);
    margin: 1rem;
}
.empty p {
    font-size: 26px;
    margin-block: 2rem;
}
.line2 {
    background-image: url('../image/3.png');
    width: 100%;
    height: 100px;
    margin-top: -2.8rem;
}
.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
    justify-content: center;
}
.box-container .box {
    margin: 1rem;
    border-radius: .5rem;
}
.heading {
    text-align: center;
    list-style: 1.7;
}
.heading h1 {
    font-size: 2rem;
    text-transform: capitalize;
}
.heading span {
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 18px;
}
.heading img {
    margin-top: 0.5rem;
    width: 150px !important;
}
.flex-btn {
    display: flex;
    justify-content: space-between;
}
.flex-btn .btn {
    margin: 0.5rem;
}
.banner {
    margin-top: 0;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    animation: banner 4s infinite alternate;
}
@keyframes banner {
    0% {
        background-image: url('../image/banner0.jpg');
    }
    100% {
        background-image: url('../image/banner1.jpg');
    }
}
.banner .detail {
    padding-left: 4%;
    line-height: 1.5;
}
.banner .detail p {
    font-size: 16px;
    margin-block: 1rem;
}
.banner .detail span {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 1rem;
}
.banner .detail a {
    color: #000;
}
.banner .detail span i {
    margin: 0 1rem;
}
.banner .detail h1 {
    font-size: 3rem;
    color: #fff;
    text-transform: capitalize;
}
/* ----------------custom -- scrollbar---------------- */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--light-orange);
    position: relative;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    height: 50px;
    margin: 10px 30px;
}

/* =============================form container ================================== */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding: 5% 0;
}
.form {
    background-image: url('../image/slider.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.form-img {
    position: absolute;
    left: 0;
    width: 30%;
    z-index: -3;
}
.form-container form  {
    background-color: var(--white-alfa-25);
    border: 2px solid var(--white-alfa-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
}
.form-container .login {
    width: 50rem;
}
.form-container .register {
    width: 60rem;
}
.form-container .register .img-box {
    text-align: center;
}
.form-container .register .img-box img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    background-color: var(--main-color);
}
.form-container form h3 {
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--main-color);
    margin-bottom: 1rem;
    font-weight: bold;
}
.form-container form p {
    padding-top: 1rem;
    font-size: 1.2rem;
    color: #666;
    text-transform: capitalize;
}
.form-container form p span {
    color: red;
}
.form-container form .link {
    padding-top: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.form-container form .link a {
    color: var(--main-color);
}
.form-container form .box {
    background-color: var(--white-alfa-25);
    border: 2px solid var(--white-alfa-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    width: 100%;
    border-radius: .5rem;
    margin: .5rem 0;
    padding: 1rem;
    font-size: 18px;
}
.form-container form textarea {
    height: 20rem;
    resize: none;
}
.form-container form .flex {
    display: flex;
    gap: 2rem;
}
.form-container form .flex .col {
    flex: 1 1 25rem;
}
.form-container .btn {
    width: 100%;
    font-size: 1.3rem;
}
.form-container .image {
    height: 30rem;
}
.form-container .flex-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
}
.form-container .flex-box img {
    width: 100%;
    margin: 1rem;
    box-shadow: var(--box-shadow);
}
/* ----------------header -- section---------------- */
.header {
    padding: .5rem 4%;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
}
.header .flex {
    padding: .5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .flex .search-form {
    position: absolute;
    top: 100%;
    right: 0;
    width: 30rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: .5s linear;
}
.header .flex .search-form.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.header .flex .search-form button {
    font-size: 2rem;
    color: var(--main-color);
    cursor: pointer;
    background-color: transparent;
}
.header .flex .icons {
    display: flex;
}
.header .flex .icons div,
.header .flex .icons a i {
    font-size: 2rem;
    color: var(--main-color);
    cursor: pointer;
    margin-left: 0.5rem;
}
.header .flex sup {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    top: 20%;
    color: #fff;
    line-height: 20px;
    margin-left: -0.5rem;
    text-align: center;
}
#menu-btn {
    display: none;
}
.header .flex .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #fff;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    width: 26rem;
    transform: scale(0);
    transform-origin: top right;
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
}
.header .flex .profile.active {
    transform: scale(1.0);
    transition: .4s linear;
}
.header .flex .profile img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
    padding: 0.6rem;
    background-color: var(--main-color);
}
.header .flex .profile h3 {
    font-size: 2rem;
}
.header .profile .btn {
    padding: 0.5rem 2rem;
}
.header .flex .navbar {
    display: flex;
    margin: 0.5rem 0;
}
.header .flex .navbar a {
    font-size: 1.3rem;
    margin: 0 .5rem;
    text-transform: capitalize;
    color: #000;
}
.header .flex .navbar a:hover {
    color: var(--main-color);
}
/* ===================== FOTTER ==== SECTION ========================= */
.newsletter {
    width: 100%;
    background-image: url(../image/newsletter.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5%;
}
.newsletter .box-detail {
    text-align: center;
}
.newsletter .box-detail h1 {
    text-transform: capitalize;
}
.newsletter .box-detail p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    margin: 1rem 0;
}
.newsletter .box-detail input {
    width: 40rem;
    padding: 1.2rem;
    border: none;
}
.newsletter .box-detail .icons i,
footer .content .box .icons i {
    background-color: var(--white-alfa-25);
    border: 2px solid var(--white-alfa-40);
    backdrop-filter: var(--backdrop-filter);
    box-shadow: var(--box-shadow);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    transition: .5s;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 1rem;
}
.newsletter .box-detail button {
    border: none;
    padding: .9rem 3rem;
}
.client {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    justify-content: center;
    padding: 4% 0;
    margin: 0 auto;
}
.client .img-box {
    text-align: center;
    cursor: pointer;
}
footer {
    background-image: url('../image/footer.jpg');
    background-size: cover;
    padding: 259px 0 0;
    width: 100%;
}
footer img {
    width: 130px;
}
footer .content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-content: center;
}
footer .content .box {
    margin: 1rem;
    line-height: 1.7rem;
    color: #fff;
}
footer .content .box h3 {
    text-transform: capitalize;
    margin-block: .5rem;
    color: #fff;
}
footer .content .box a {
    font-size: 16px;
    display: block;
    color: #fff;
    text-transform: capitalize;
}
footer .content .box a:hover {
    color: var(--main-color);
}
footer .content .box i {
    margin-right: 0.5rem;
}
footer .content .box p {
    line-height: 1.5;
}
footer .content .box .icons {
    margin-top: 1rem;
}
footer .content .box .icons i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0.2rem;
    color: var(--main-color);
}
footer .bottom  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #fff;
    line-height: 2;
    color: #fff;
}
footer .bottom a {
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
}
/* ===================== HOME SLIDER ============================= */
.container-fluid {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container-fluid .slider-item {
    position: relative;
    overflow: hidden;
}
.slider-item img {
    width: 100%;
    height: 100vh;
}
.slider-caption {
    text-align: left;
    position: absolute;
    top: 30%;
    left: 5%;
    text-align: center;
}
.slider-caption h1 {
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
}
.slider-caption p {
    font-size: 20px;
    margin-bottom: 2rem;
    padding: 10px 10px 10px 0;
}
.slider-caption .btn {
    background-color: var(--pink-color);
    box-shadow: 0 0 0 6px rgb(255 255 255 / 40%);
}
.next,
.prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--pink-color);
    box-shadow: 0 0 0 6px rgb(255 255 255 / 40%);
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    
}
.next {
    right: 1rem;
}
.prev {
    left: 1rem;
}
.services {
    padding: 6% 3%;
}
.services .box-container .box {
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.5;
}
.services .box-container .box .detail {
    place-content: 2rem;
}
.services .box-container .box h4 {
    font-size: 1.4rem;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}
.services .box-container .box span {
    font-size: 1.1rem;
    text-transform: capitalize;
}
.sub-banner {
    width: 100%;
}
.sub-banner img {
    width: 100%;
}
.frame-container {
    padding: 4% 0;
    overflow-x: hidden;
}
.frame-container .box-container {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.frame-container .box-container .box {
    display: flex;
    flex: 1 1 40rem;
    width: 100%;
    gap: 1rem;
}
.frame-container .box-detail, 
.frame-container .box-detail div {
    position: relative;
}
.frame-container .box-detail .img {
    height: 100%;
    width: 100%;
    margin-top: 0;
}
.frame-container .box .img-detail {
    position: absolute;
    bottom: 20%;
    width: 100%;
    text-align: center;
    color: #fff;
}
.frame-container .box .detail {
    position: absolute;
    left: 5%;
    top: 30%;
    color: #fff;
    text-align: center;
}
.frame-container .box div img {
    vertical-align: middle;
    display: inline-block;
    height: auto;
    max-width: 100%;
    margin: 0.5rem;
}
.frame-container .box div h1 {
    margin-bottom: 2rem;
}
.frame-container .frame {
    flex: 1 1 40rem;
    width: 100%;
    height: 96%;
    background-color: #eee;
    background-position: center;
    background-size: cover;
    animation: image1 5s infinite alternate;
    position: relative;
}
@keyframes image1 {
    0% {
        background-image: url('../image/slider.jpg');
    }
    50% {
        background-image: url('../image/slider0.jpg');
    }
    100% {
        background-image: url('../image/slider1.jpg');
    }
}
.frame-container .frame .detail {
    position: absolute;
    left: 10%;
    top: 30%;
}
.frame-container .frame .detail span, 
.img-detail span {
    text-transform: uppercase;
    font-size: 1.2rem;
}
.frame-container .frame .detail h2 {
    font-size: 2rem;
    color: var(--main-color);
    font-style: italic;
    margin: .5rem 0;
}
.frame-container h1 {
    text-transform: capitalize;
}
.about-us {
    padding: 5% 0;
    background-image: url('../image/men.jpg');
}
.about-us .box {
    padding: 1rem;
    text-align: center;
}
.about-us .box h1 {
    margin-bottom: 1rem;
}
.about-us .box span {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--main-color);
    line-height: 2;
}
.about-us .box p {
    line-height: 1.7;
    color: #666;
    margin: 2rem 0;
    font-size: 1.1rem;
}
.about-us .box .btn {
    margin: 1rem;
}
.menu-banner {
    width: 100%;
}
.sub-banner .box-container {
    padding: 1rem;
    gap: 1rem;
}
.categories {
    padding: 4% 8%;
}
.categories .box-container {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}
.categories .box-container .box {
    margin: 1rem;
    cursor: pointer;
}
.categories .box-container .box img {
    width: 90%;
}
.frame-container-2 {
    padding: 4% 0;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.frame-container-2 .frame {
    flex: 1 1 40rem;
    width: 100%;
    height: 70vh;
    background-color: #eee;
    background-position: center;
    background-size: cover;
    animation: image 5s infinite alternate;
    position: relative;
}
@keyframes image {
    0% {
        background-image: url('../image/lookbook1.jpg');
    }
    50% {
        background-image: url('../image/lookbook2.jpg');
    }
    100% {
        background-image: url('../image/lookbook3.jpg');
    }
}
.frame-container-2 .frame .detail {
    position: absolute;
    right: 10%;
    top: 30%;
}
.frame-container-2 .frame .detail span, 
.img-detail span {
    text-transform: uppercase;
    font-size: 1.2rem;
}
.frame-container-2 .frame .detail h2 {
    font-size: 2rem;
    color: var(--main-color);
    font-style: italic;
    margin: .5rem 0;
}
.frame-container-2 h1 {
    text-transform: capitalize;
}
.frame-container-2 img {
    width: 100%;
    height: 70vh;
}
.gurantee {
    padding: 4% 0;
}
.gurantee .box-container img {
    width: 100%;
    margin: 0.5rem;
}
/* ----------------------popular-brands-------------------- */
.popular-brands {
    position: relative;
    padding: 4%;
}
.popular-brands h2 {
    margin-bottom: 2rem;
    text-align: center;
}
/* .popular-brands-content {
    
} */
.popular-brands-content .box,
.products .box,
.orders .box {
    background-color: var(--white-alfa-25);
    border: 2px solid var(--white-alfa-40);
    box-shadow: var(--box-shadow);
    backdrop-filter: var(--backdrop-filter);
    position: relative;
    border-radius: .5rem;
    margin: 1rem;
}
.popular-brands-content .icon,
.products .box .icon,
.orders .box .icon {
    cursor: pointer;
    overflow: hidden;
}
.popular-brands-content .icon-box,
.products .box .icon-box,
.orders .box .icon-box {
    display: flex;
    align-items: center;
    text-align: center;
    transition: .5s ease-in-out;
}
.popular-brands-content .icon-box .img1,
.popular-brands-content .icon-box .img2,
.products .box .icon-box .img1,
.orders .box .icon-box .img1,
.products .box .icon-box .img2,
.orders .box .icon-box .img2 {
    flex: 1 0 50%;
    width: 100%;
    height: 35rem;
    object-fit: cover;
}
.popular-brands-content .box:hover .icon-box,
.products .box:hover .icon-box,
.orders .box:hover .icon-box {
    transform: translateX(-100%);
}
.popular-brands .controls {
    position: absolute;
    right: 5%;
    top: 1%;
}
.popular-brands .controls .left,
.popular-brands .controls .right {    
    border: 1px solid #000;
    color: gray;
    padding: .5rem;
    margin: 1rem 0;
    cursor: pointer;
}
.popular-brands .controls .left:hover,
.popular-brands .controls .right:hover {
    border: 1px solid var(--main-color);
    color: var(--main-color);
}
.popular-brands-content .stock {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 1rem;
}
.popular-brands-content .box .content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    padding: 1rem;
    overflow: hidden;
    transition: .5s;
    padding-top: 0.3rem;
    background-color: #fff;
}
.popular-brands-content .box:hover .content {
    height: 10rem!important;
    padding-top: 1rem;
}
.popular-brands-content .box:hover .cart-content {
    height: 10rem!important;
    padding-top: 1rem;
}
.popular-brands-content .box .content h3 {
    text-transform: capitalize;
    display: 20px;
    font-weight: 400;
}
.popular-brands-content .box .content .price {
    position: absolute;
    top: 4%;
    right: 4%;
    text-transform: capitalize;
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.popular-brands-content .box .content .button {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
.popular-brands-content .box .content button {
    box-shadow: none;
    cursor: pointer;
    background-color: transparent;
}
.popular-brands-content .box .content .button i,
.popular-brands-content .box .content .button a {
    color: var(--main-color);
    margin: 0 .5rem;
    box-shadow: none;
    font-size: 1.8rem;
}
.popular-brands-content .box .content .button i:hover,
.popular-brands-content .box .content .button a:hover {
    color: #000;
}
.popular-brands-content .qty {
    height: 40px;
    margin-top: 0.5rem;
    padding: 0 1rem;
    box-shadow: var(--box-shadow);
}

/* ----------------------popular-brands-------------------- */
.offer-1 {
    background-image: url('../image/offer.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    min-height: 100vh;
    padding: 5%;
}
.offer-1 .detail {
    max-width: 40vw;
}
.offer-1 .detail h1 {
    font-weight: bold;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.offer-1 .detail p {
    line-height: 1.5;
    font-size: 18px;
    color: #fff;
}
.offer-1 .container {
    color: #333;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem;
}
.offer-1 h1 {
    font-weight: bold;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.5;
}
.offer-1 li {
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem;
    text-transform: uppercase;
}
.offer-1 span {
    display: block;
    font-size: 4.5rem;
}
.offer-1 .btn {
    background-color: var(--pink-color);
    box-shadow: 0 0 0 6px rgb(255 255 255 / 40%);
}
.offer-2 {
    background-image: url('../image/pride.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    min-height: 110vh;
    padding-left: 5%;
    background-position: center;
}
.offer-2 .detail {
    max-width: 40vw;
    text-align: center;
}
.offer-2 .detail h1 {
    font-weight: bold;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.offer-2 .detail p {
    
    line-height: 1.5;
    font-size: 18px;
    color: #fff;
}

/* -----------------------about section----------------------- */
.who {
    padding: 5%;
}
.who .box {
    line-height: 1.5;
    text-align: center;
    position: relative;
    margin: 1rem;
}
.who .img-box {
    position: relative;
}
.who .img-box .shap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10rem;
}
.who .img-box .img {
    width: 100%;
    box-shadow: var(--box-shadow);
}
.who p {
    font-size: 1.2rem;
    line-height: 1.7;
    margin: 1rem 0;
}
.who .flex-btn{
    justify-content: center;
}
.exclusive {
    background-image: url('../image/exclusiv.jpg');
    background-size: cover;
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding-left: 6%;
    line-height: 1.5;
}
.exclusive h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
}
.exclusive p {
    font-size: 1.2rem;
    margin: 1rem 0;
}
.cms-banner {
    margin: 4rem auto;
}
.cms-banner .box-container .box {
    position: relative;
    margin: 1rem;
    overflow: hidden;
    border-radius: 0;
}
.cms-banner .box-container .box:hover img {
    transform: scale(1.1);
}
.cms-banner .box-container .box img {
    width: 100%;
    transition: .5s;
}
.cms-banner .box-container .box .detail {
    position: absolute;
    right: 5%;
    top: 30%;
}
.cms-banner .box-container .box h1 {
    margin: 1rem 0;
    text-transform: capitalize;
}
.cms-banner .box-container .box span {
    font-size: 1.5rem;
    text-transform: capitalize;
}
.story {
    background-image: url('../image/story.jpg');
    background-size: cover;
    padding: 5% 0;
    min-height: 110vh;
    position: relative;
}
.story .box {
    position: absolute;
    right: 5%;
    top: 20%;
    max-width: 50vw;
    text-align: center;
}
.story .box h1 {
    padding-bottom: 1rem;
}
.story .box p {
    line-height: 1.7rem;
    font-size: 1.2rem;
}
.team {
    padding: 1%;
}
.team .box-container {
    grid-template-columns: repeat(auto-fit, 22rem);
}
.team .box-container .box {
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
.team .box-container .box .img {
    width: 100%;
    transition: .5s;
}
.team .box-container .box:hover .img {
    transform: scale(1.1);
}
.team .box-container .box .content {
    background-color: #fff;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.7;
    padding: 1rem 0;
}
.team .box-container .box h2 {
    text-transform: capitalize;
    font-size: 1.6rem;
}
.team .box-container .box .content p {
    font-size: 1.1rem;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}
.team .box-container .box i {
    font-size: 1.5rem;
    margin: 0.2rem;
    cursor: pointer;
    border: 1px solid var(--main-color);
    padding: 0.3rem;
}
.about {
    padding: 4% 6%;
    background-image: url('../image/about-bg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}
.about .box-container {
    position: absolute;
    right: 2%;
    top: 20%;
    align-items: center;
    max-width: 50vw;
}
.about .box-container span {
    font-size: 1.5rem;
}
.about p {
    color: #fff;
    line-height: 1.6;
    font-size: 18px;
    margin: 1rem 0;
    text-align: center;
}
.about .flex-btn {
    justify-content: center;
}
.choose {
    padding: 6% 4%;
}
.choose .img-box {
    position: relative;
    text-align: center;
}
.choose .img {
    width: 100%;
    margin-top: 3rem;
}
.choose .box-detail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    align-items: center;
    justify-content: center;
}
.choose .box-detail .detail {
    position: relative;
    background-color: #fff;
    padding: 1rem .5rem;
    margin: 1rem;
    box-shadow: var(--box-shadow);
    line-height: 1.5;
    text-align: center;
}
.choose .box-detail .detail img {
    width: 100px;
}
.choose .box-detail .detail span {
    top: 5px;
    z-index: 1;
    right: 20px;
    opacity: 0.09;
    line-height: 1;
    font-weight: 700;
    font-size: 200px;
    color: var(--main-color);
    position: absolute;
}
.choose .box-detail .detail h2 {
    text-transform: capitalize;
}
.project {
    background-color: #ded4ca;
}
.project .box {
    text-align: center;
    padding: 10% 5%;
}
.project .box p {
    line-height: 1.7;
    font-size: 1.3rem;
}
.project .card{
    flex: 1 1 40rem;
    width: 100%;
    height: 100%;
    background-color: #eee;
    background-position: center;
    background-size: cover;
    animation: image2 6s infinite;
    position: relative;
}
@keyframes image2 {
    0% {
        background-image: url('../image/child.jpg');
    }
    50% {
        background-image: url('../image/project.jpg');
    }
    100% {
        background-image: url('../image/project0.jpg');
    }
}
.mission {
    background-image: url('../image/slider.jpg');
    background-position: center;
    background-size: cover;
    padding: 6% 0;
    padding-left: 4%;
    position: relative;
    overflow-x: hidden;
}
.mission .box-container .box .detail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .6rem 0;
}
.mission .box-container .box .detail h2 {
    color: var(--main-color);
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}
.mission .box-container .box .detail p {
    color: #666;
    line-height: 1.5;
}
.mission .box-container .box .detail .img-box {
    text-align: center;
    margin-right: 1rem;
}
.mission .box-container .box .detail img {
    width: 90px;
}
.about-banner {
    padding: 5% 0;
}
.about-banner .box-container .box {
    position: relative;
}
.about-banner .box-container .box .detail {
    position: absolute;
    top: 20%;
    left: 5%;
    line-height: 1.5;
    text-transform: capitalize;
}
.about-banner .box-container .box span {
    font-size: 1.5rem;
}
.about-banner .box-container .box h2 {
    font-size: 4rem;
    color: crimson;
}
.about-banner .box-container .box img {
    width: 100%;
    height: 34rem;
}
/* --------------------------------product section------------------------- */
.products {
    padding: 4% 0;
}
.products .box-container {
    grid-template-columns: repeat(auto-fit, 25rem);
}
.products .box-container .box {
    position: relative;
    margin: 1rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}
.products .box-container .box .stock {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 1rem;
    text-transform: capitalize;
}
.products .box-container .box .content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    padding: 1rem;
    overflow: hidden;
    transition: .5s;
    padding-top: 0.3rem;
    background-color: #fff;
}
.products .box-container .box:hover .content,
.products .box-container .box:hover .cart-content {
    height: 10rem!important;
    padding-top: 1rem;
}
.cart-content {
    height: 2rem!important;
    padding-top: 1rem;
}
.products .box-container .box h3 {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
}
.products .box-container .box .price {
    position: absolute;
    top: 4%;
    right: 4%;
    text-transform: capitalize;
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.products .box-container .box .button {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
.products .box-container .box button {
    box-shadow: none;
    cursor: pointer;
    background-color: transparent;
}
.products .box-container .box .button i,
.products .box-container .box .button a {
    color: var(--main-color);
    margin: 0 .5rem;
    box-shadow: none;
    font-size: 1.8rem;
}
.products .box-container .box .button i:hover,
.products .box-container .box .button a:hover {
    color: #000;
}
.products .box-container .box .flex-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products .box-container .box .btn {
    padding: .9rem 0;
}
.products .box-container .box input {
    height: 50px;
    width: 19%;
    padding: 1rem;
    color: var(--main-color);
    border-radius: 0;
    padding: 0;
    padding-left: 1rem;
    font-size: 1.4rem;
    box-shadow: var(--box-shadow);
    margin-top: 1rem;
}
.products .box-container .box .sub-total {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.3rem;
}
.products .box-container .box .flex-btn .btn {
    height: 50%;
    width: 48%;
    margin-top: 1rem;
    background-color: var(--main-color);
}
.products .box-container .box .fa-edit {
    height: 50px;
    width: 20%;
    cursor: pointer;
    font-size: 0.5rem;
    color: var(--main-color);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
}
.cart-total {
    max-width: 1000px;
    text-align: center;
    padding: 4%;
    margin: 2rem auto;
    box-shadow: var(--box-shadow);
}
.cart-total p {
    font-size: 1.4rem;
    margin: 2rem 0;
    text-transform: capitalize;
    color: gray;
}
.cart-total p span {
    color: var(--main-color);
}
.cart-total .button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-total .btn {
    margin: 0.5rem;
}
/* ------------------view page section ----------------- */
.view_page .heading {
    margin-top: 3rem;
}
.view_page .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    line-height: 2;
    background-color: var(--white-alfa-25);
    border: 2px solid var(--white-alfa-40);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    margin: 5%;
}
.view_page .box .product_Slider {
    flex: 1 1 40rem;
    padding: 2rem;
    position: relative;
}
.view_page .box .detail {
    padding: 1rem;
    flex: 1 1 40rem;
}
.Slider-featuredImage{
    padding: 4px;
}
.view_page img,
.view_order img {
    width: 100%;
    display: block;
}
.Slider-thumbnails {
    position: absolute;
    left: 7%;
    top: 20%;
    display: block;
    width: 100%;
}
.Slider-thumbnail {
    margin: 0.2rem;
    cursor: pointer;
}
.Slider-thumbnail img {
    width: 100px;
}
.Slider-thumbnail .active {
    opacity: 0.7;
}
.Slider-thumbnail:hover,
.Slider-thumbnail:active,
.Slider-thumbnail:focus {
    opacity: 0.7;
}
.view_page .box .product_detail {
    margin: 1rem;
    color: gray;
    font-size: 1.1rem;
}
.view_page .box .price {
    font-size: 2rem;
    color: #000;
}
.view_page .box .name {
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-color);
    text-transform: capitalize;
}

.products .more {
    margin: 0 auto;
    text-align: center;
}
/* =================== contact us page =================== */
.service {
    padding: 5% 10%;
    position: relative;
    min-height: 100vh;
}
.service .box-container,
.address .box-container {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.service .box-container .box {
    box-shadow: var(--box-shadow);
    text-align: center;
    padding-bottom: 2rem;
}
.service .box-container .box img {
    width: 150px;
    padding: 1rem;
    object-fit: contain;
}
.service .box-container .box h1 {
    font-size: 25px;
    color: var(--main-color);
    margin: .5rem 0;
    text-transform: capitalize;
}
.contact .form-container {
    margin: 1.5rem;
}
.address {
    padding: 5% 8%;
    min-height: 55vh;
}
.address .box-container .box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    background-color: var(--white-alfa-40);
    line-height: 2;
    padding: 1rem 0;
    margin: 1rem;
}
.address .box-container .box h4 {
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 1.5rem;
}
.address .box-container .box i {
    font-size: 2.5rem;
    margin-right: 1rem;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    background-color: var(--white-alfa-40);
    color: var(--main-color);
}
.checkout .row {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
}
.checkout .summary {
    width: 60rem;
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}
.checkout h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
    text-transform: capitalize;
    text-align: center;
}
.checkout .summary .box-container {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.checkout .summary .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    margin: 0.5rem;
}
.checkout .summary img {
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0.5rem;
    margin-right: 2rem;
}
.checkout .summary .name {
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
    text-transform: capitalize;
}
.checkout .summary .price {
    font-size: 1.5rem;
    color: red;
}
.summary .grand-total {
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 2rem;
    margin-right: 1.5rem;
    text-transform: capitalize;
}
.summary .grand-total span {
    color: gray;
}
.summary .grand-total p {
    color: red;
}

.orders {
    padding: 2% 0;
}
.orders .box-container {
    grid-template-columns: repeat(auto-fit, 25rem);
    gap: 1rem;
}
.orders .box-container .box {
    box-shadow: var(--box-shadow);
    position: relative;
    height: 100%;
    margin: 1rem;
}
.orders .box-container .box .content {
    display: block;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
}
.orders .box-container .box a .row {
    display: flex;
    justify-content: space-between;
}
.orders .box-container .box .date {
    position: absolute;
    top: 3%;
    left: 3%;
    padding: .5rem 1.5rem;
    color: #fff;
    display: inline-block;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    background-color: var(--main-color);
}
.orders .box-container .box .name {
    text-transform: capitalize;
    color: var(--main-color);
    font-size: 1.4rem;
    font-weight: 500;
}
.orders .box-container .box .price {
    font-size: 1.4rem;
    color: #000;
}
.orders .box-container .box .status {
    text-transform: capitalize;
    margin-left: 0.5rem;
    font-size: 1.4rem;
}

.view_order {
    padding: 4% 0;
}
.view_order .box-container {
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 0;
    margin: 0 auto;
    max-width: 1300px;
}
.view_order .box-container .box {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
.view_order .box-container .box .col {
    flex: 1 1 30rem;
    position: relative;
}
.view_order .box-container .box .col:hover .detail {
    height: 5rem;
    padding: 0.5rem;
    padding-top: 1rem;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.view_order .box-container .box .col .detail {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 0;
    transition: .5s;
    overflow: hidden;
}
.view_order .box-container .box .date {
    position: absolute;
    top: 5%;
    left: 3%;
}
.view_order .box-container .box .title, 
.view_order .box-container .box .date {
    border-radius: .5rem;
    margin-bottom: 1rem;
    padding: .5rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: var(--main-color);
    display: inline-block;
    text-transform: capitalize;
}
.view_order .box-container .box .title i, 
.view_order .box-container .box .date i {
    margin-right: 1rem;
    color: #fff;
}
.view_order .box-container .box .price {
    color: crimson;
    font-size: 1rem;
    padding: .5rem 0;
}
.view_order .box-container .box .name {
    font-size: 1.5rem;
    text-transform: capitalize;
}
.view_order .box-container .box .user {
    padding: 0.5rem;
    font-size: 1.4rem;
}
.view_order .box-container .box .user i {
    margin-right: 1rem;
    color: gray;
}
.view_order .box-container .col .grand-total {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    text-transform: capitalize;
}
.view_order .box-container .box .col .status {
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 0.5rem;
}
.view_order .box-container .box .col .btn {
    width: 100%;
}

.profile {
    max-width: 1100px;
    margin: 3rem auto;
}
.profile .details {
    background-color: var(--white-alfa-25);
    border: var(--white-alfa-40);
    box-shadow: var(--box-shadow);
    backdrop-filter: var(--backdrop-filter);
    border-radius: .5rem;
    text-align: center;
    padding: 1rem;
    margin: 2rem 0;
}
.profile .details .user {
    text-align: center;
    margin-bottom: 2rem;
}
.profile .details .user img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: var(--main-color);
}
.profile .details .user h3 {
    font-size: 2rem;
    margin: .5rem 0;
    text-transform: capitalize;
}
.profile .details .user p {
    font-size: 1.2rem;
    color: gray;
    margin-bottom: 0.5rem;
}
.profile .details .box-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1.5;
}
.profile .details .box-container .box {
    background-color: #ccc3;
    flex: 1 1 30rem;
    padding: 1.5rem 2rem;
}
.profile .details .box-container .box .flex {
    
    gap: 1.7rem;
    margin-bottom: 1rem;
    font-size: 3rem;
}
.profile .details .box-container i {
    height: 3rem;
    width: 3rem;
    border-radius: .5rem;
    line-height: 3rem;
    text-align: center;
    margin-right: 1rem;
}
.profile .details .box-container .box h3 {
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 0.2rem;
}









/* ===================== MEDIA ==== SECTION ========================= */
@media (max-width: 991px) {
    #menu-btn {
        display: inline-block;
    }
    .header .flex .navbar {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        border-top: 1px solid #ccc;
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .5s;
    }
    .header .flex .navbar.active {
        transition: .5s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .flex .navbar a {
        display: block;
        margin: 1.5rem 0;
        padding: 1rem;
        background-color: var(--main-color);
        text-align: center;
        border-radius: .5rem;
        color: #fff;
    }
    .header .flex .navbar a:hover {
        color: #000;
    }
}